* {
	margin: 0;
	padding: 0;
}
body {
    font-family: SourceSansPro !important;
    font-size: 14px;
    color: #3c3d41;
    background-color: #fff;
    line-height: 22px;
}
.page {
	padding: 0;
}
.header-container {
	background: #eee;
	min-width: 1200px;
}
.header {
	width: 1200px;
    margin: auto;
    height: 54px;
}
.table-logo {
	width: 33%;
	height: 54px;
	background: #e11b1e;
	float: left;
}
.logo {
	float: left;
	height: 54px;
	width: 40%;
}
.logo a {
	text-decoration: none;
}
.logo p {
	text-align: left;
	padding: 16px 25px 16px 25px;
	font-size: 20px; 
	color: #FAD3D5; 
	font-family: 'Bungee Inline', cursive;
}
.search {
	float: right;
	width: 60%;
	height: 54px;
	padding: 12px 0px 12px 10px;
}
.input-search{
	height: 30px;
}
.button-search{
	height: 30px;
	width: 30px;
}
.table-login {
	width: 16%;
	height: 54px;
	float: left;
}
.table-login ul {
	list-style-type: none;
	padding-left: 10px;
	vertical-align: bottom;
}
.table-login ul li {
	display: inline-block;
	height: 54px;
	width: 89px;
}
.table-login ul li a {
	height: 54px;
	text-align: center;
	text-decoration: none;
}
.table-login span {
	padding: 15px 10px 15px 10px;
}
.table-menu {
	width: 51%;
	height: 54px;
	float: left;
}
.table-menu ul {
	list-style-type: none;
	padding-left: 10px;
	vertical-align: bottom;
}
.table-menu > ul > li {
	color: #3c3d41;
	display: inline-block;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	height: 54px;
	line-height: 26px;
	width: 82px;
	position: relative;
	margin-left: 0 !important;
}
.table-menu > ul > li > a {
	color: #3c3d41;
	text-decoration: none;
	display: block;
	height: 54px;
	text-transform: uppercase;
	text-align: center;
}
.table-menu > ul > li > a:hover {
	background-color: #e11b1e;
	color: #f1f1f1;
}
.table-menu ul > li > .sub-menu {
	display: none;
	position: absolute;
	width: 165px;
}
.table-menu ul li:hover .sub-menu {
	display: block;
	padding-top: 10px;
	z-index: 100;
	background-color: #fff;
}
.table-menu ul >li > ul > li a {
	color: #3c3d41;
	font-size: 18px;
}
.sub-menu li { 
	padding:0 !important;
}
.adv-container {
	min-width: 1200px;
	height: auto;
}
.adv {
	width: 1200px;
    margin: auto;
    min-height: 340px;
}
.slides1 {
	float: left;
	width: 70%;	
	margin-top: 10px;
}
.banner {
	float: right;
	width: 30%;
	margin-top: 10px;
}
.clear{
	overflow: auto;
}
.main-container {
	min-width: 1200px;
}
.main {
	width: 1200px;
    margin: auto;
    min-height: 1350px;
}
.product-phone {
	width: 100%;
	height: 410px;
	border: solid 1px #eee;
	margin-top: 40px;
	float: left;
	clear: both;
}
.product-tablet {
	width: 100%;
	height: 410px;
	border: solid 1px #eee;
	margin-top: 40px;
	float: left;
	clear: both;
}
.product-macbook {
	width: 100%;
	height: 410px;
	border: solid 1px #eee;
	margin-top: 40px;
	float: left;
	clear: both;
}
.section-header {
	height: 54px;
	width: 100%;
	float: left;
	border: solid 1px #eee;
}
.section-header p {
	text-align: left;
	color: #000000;
	font-family: 'Bungee Inline', cursive;
	font-size: 20px;
	padding: 15px 0 15px 18px;
}
.section-header p a {
	text-decoration: none;
}
.product-container {
	float: left;
}
.product-item {
	float: left;
	width: 239.6px;
	height: 355px;
	border: 1px solid #EEEEEE;
	margin-bottom: 0;
	padding: 0;
}
.caption{
	padding: 9px;
	width: 233px;
	height: 95px;
}
.footer-container {
	min-width: 1200px;
	background: #eee;
	margin-top: 20px;
}
.footer {
	width: 1200px;
	margin: auto;
	min-height: 300px;

}
.contact{
	width: 33%;
	height: 100%;
	float: left;
}
.help{
	width: 33%;
	height: 100%;
	float: left;
}
.system {
	width: 34%;
	float: left;
	height: 100%;
}
.bottom{
	width: 100%;
	height: 30px;
	float: left;
	text-align: center;
}
.module-container {
	min-width: 1200px;
}
.module {
	width: 1200px;
	margin: auto;
	min-height: 1350px;
}
.content {
	width: 100%;
	margin-top: 20px;
	float: left;
}
.adv-category-container {
	min-width: 1200px;
	background: #eee;
	margin-top: 10px;
}
.adv-category {
	width: 1200px;
    margin: auto;
    min-height: 200px;
}
.slides2 {
	float: left;
	width: 67%;	
	margin-top: 10px;
}
.banner-category {
	float: right;
	width: 33%;
	margin-top: 10px;
}
.homepage-container {
	min-width: 1200px;
}
.homepage {
	width: 1200px;
	margin: auto;
	font-size: 14px;
    margin-top: 20px;
    color: #393d3f;
}
.homepage ul {
	list-style-type: none;
	vertical-align: bottom;
}
.homepage ul li {
	display: inline-block;
}
.homepage ul li.home a {
	color: #e11b1e;
	font-family: sans-serif;
}
.homepage ul li.category p {
	color: #000000;
	font-family: sans-serif;
	text-decoration: none;
}
.homepage ul li.product p {
	color: #000000;
	font-family: sans-serif;
	text-decoration: none;
}
.item-module-container {
	min-width: 1200px;
	height: 1000px;
}
.item-module {
	width: 1200px;
    margin: auto;
    min-height: 400px;
}
.top-view {
	float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: solid 2px #eee;
}
.top-view h3 {
	color: #393d3f;
    font-size: 24px;
    font-weight: bold;
    display: block;
    float: left;
    font-family: sans-serif;
}
.product-essential {
	width: 100%;
	margin-top: 10px;
	float: left;
}
.product-image {
	padding: 0px;
}
a.button-red {
	background: #e11b1e;
    border: solid 1px #e11b1e;
    text-decoration: none;
}
.big-button {
	margin-top: 10px;
    color: #fff;
    font-size: 14px;
    padding: 8px 5px;
    line-height: 18px;
    width: 100%;
    border-radius: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
}
.button-red:hover {
	background-color: #fff;
	color: #e11b1e;
	font-size: 14px;
	font-family: sans-serif;
}
.address  li {
	list-style: none;
}
.shop-in-stock {
	display: block;
    width: 100%;
    background-color: #f7f7f7;
    float: left;
    text-align: center;
    text-transform: uppercase;
    border: 1px #eee solid;
    color: #3c3d41;
    font-family: sans-serif;
    line-height: 40px;
}
ul#shop {
	display: block;
    width: 100%;
    float: left;
    padding: 0px 10px 0px 10px;
    border: 1px #eee solid;
    border-top: none;
    font-family: sans-serif;
}
.warranty-info {
	display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.warranty-info-title {
	display: block;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    color: #3c3d41;
    text-transform: uppercase;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
    border: 1px #eee solid;
}
.warranty-info-content {
	display: block;
    width: 100%;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border: 1px #eee solid;
    border-top: none;
}
.warranty-info-content .warranty-price ul {
	list-style: disc;
    padding-left: 30px;
    font-weight: normal;
    margin-bottom: 0px;
}
/* Dành cho điện thoại */
@media all and (max-width: 480px) {
 
}
 
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
 
}


/* css for admin/blocks/header */
.header-bar{
	background-color: #EEEEEE;
	width: 100%;
	height: 60px;
	float: left;
	overflow: auto;
}
.header-left{
	padding-top: 10px;
	padding-left: 25px;
	float: left;
}
.header-right{
	float: right;
	padding-top: 20px;
	padding-right: 40px;
}
.login{
	margin-right: 30px;
}
.fas.fa-sign-in-alt{
	margin-left: 5px;
}
.fas.fa-sign-out-alt{
	margin-left: 5px;
}

/* end css for admin/blocks/header */


.middle{
	width: 100%;
	height: 800px;
	float: left;
	margin-top: 120px;
}
/* css for admin/blocks/sidebar */

.sidebar-container{
	float: left;
	margin-left: 100px;
	width: 20%;
	height: 308px;
	border: 2px solid #EEEEEE;
	overflow: auto;
}
.account{
	float: left;
	width: 92.5%;
	height: 60px;
	border-bottom: 2px solid #EEEEEE;
	padding-top: 15px;
	padding-left: 20px;
	clear: both;
}
.sidebar-category{
	float: left;
	width: 92.5%;
	height: 60px;
	border-bottom: 2px solid #EEEEEE;
	padding-top: 15px;
	padding-left: 20px;
}
.sidebar-product{
	float: left;
	width: 92.5%;
	height: 60px;
	border-bottom: 2px solid #EEEEEE;
	padding-top: 15px;
	padding-left: 20px;
}
.sidebar-users{
	float: left;
	width: 92.5%;
	height: 60px;
	border-bottom: 2px solid #EEEEEE;
	padding-top: 15px;
	padding-left: 20px;
}
.login{
	margin-top: 10px;
}
.fas.fa-cog{
	padding-right: 10px;
}
.fas.fa-list-ul{
	padding-right: 10px;
}
.fas.fa-tags{
	padding-right: 10px;
}
.fas.fa-users-cog{
	padding-right: 10px;
}
/* end css for admin/blocks/sidebar*/
.info.container{
	width: 100%;
	padding-left: 0;	
}


.information{
	width: 70%;
	float: right;
	height: 500px;
}





<style>
    /*jssor slider loading skin spin css*/
    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    /*jssor slider bullet skin 051 css*/
    .jssorb051 .i {position:absolute;cursor:pointer;}
    .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
    .jssorb051 .i:hover .b {fill-opacity:.7;}
    .jssorb051 .iav .b {fill-opacity: 1;}
    .jssorb051 .i.idn {opacity:.3;}

    /*jssor slider arrow skin 051 css*/
    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
</style>
