/*body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
  padding-top: 0px;
}

#slides {
  display: none
  z-index: 1;
  position: relative;
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}
</style>
<!-- End SlidesJS Optional-->

<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
<style>
#slides {
  display: none
}

.container {
  margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}


<style>
  /* jssor slider loading skin spin css */
  .jssorl-009-spin img {
      animation-name: jssorl-009-spin;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }

  @keyframes jssorl-009-spin {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }


  .jssorb051 .i {position:absolute;cursor:pointer;}
  .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
  .jssorb051 .i:hover .b {fill-opacity:.7;}
  .jssorb051 .iav .b {fill-opacity: 1;}
  .jssorb051 .i.idn {opacity:.3;}

  .jssora051 {display:block;position:absolute;cursor:pointer;}
  .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
  .jssora051:hover {opacity:.8;}
  .jssora051.jssora051dn {opacity:.5;}
  .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
</style>*/